      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar" ng-controller="ngControlMenuBar" ng-init="menu()">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
             <img src="{{public.DataCompany.url_logo}}"  alt="User Image" style="height: 20px; important!"> 
            </div>
            <div class="pull-left info">
              <p>{{public.DataCompany.razon_social}} <br><small>{{public.DataCompany.nombre_comercial}}</small></p>
            </div>
          </div>
          <!-- search form -->
          <form class="sidebar-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar..." ng-model="buscar">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search" ></i></button>
              </span>
            </div>
          </form>

 <ul class="sidebar-menu">
  <li class="header">MENU DE FUNCIONES</li>
  <li 
  class="treeview" ng-repeat="(key, value) in public.SubModulo | groupBy: 'id_modulo'"
  ng-class="{'active treeview':public.ngMenu.titulo==value[0].titulo}" 
  ng-click="ClicMenu(value[0].titulo,value[0].href_modulo)"
  >

                <a ng-if="value[0].titulo_submodulo!=null" class="active treeview" href=""> <!---->
                  <i class="{{value[0].class_icono}}"></i> <span id='{{menu.titulo}}'>{{value[0].length}} {{value[0].titulo}}</span>
                   <i class="fa fa-angle-left pull-right"></i> 
                </a>
              
                <a ng-if="value[0].titulo_submodulo==null" class="active treeview" href="{{value[0].href_modulo}}"> <!---->
                  <i class="{{value[0].class_icono}}"></i> <span id='{{menu.titulo}}'>{{value[0].length}} {{value[0].titulo}}</span>
                </a>

                <ul class="treeview-menu" ng-if="value[0].titulo_submodulo!=null">
                    
                    <li ng-repeat="submenu in value">

                    <a href="{{submenu.href_modulo}}" ng-click="cambiarVista(submenu.href_submodulo);ClicMenu(submenu.titulo,menu.href_modulo);ActClass(submenu.titulo)">

                    <i  ng-class="{'fa fa-circle-o text-yellow':public.ngVista==submenu.href_submodulo, 'fa fa-circle-o text-aqua':public.ngVista!=submenu.href_submodulo}"></i> {{submenu.titulo_submodulo}} 
                    
                    </a>
                    
                    </li>

                </ul>
  </li>
</ul>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less 
          <ul class="sidebar-menu">
            <li class="header">MENU DE FUNCIONES</li>



              <li ng-repeat="menu in public.ngMenu.modulos | filter: buscar" ng-class="{'active treeview':!$index,'treeview':$index, 'active treeview':public.ngMenu.titulo==menu.titulo}">

                <a class="active treeview" ng-if="public.SubModulo[menu.id_modulo].length" href="" ng-click="$index=!$index"> 
                  <i class="{{menu.class_icono}}"></i> <span id='{{menu.titulo}}'>{{menu.titulo}}</span>
                   <i class="fa fa-angle-left pull-right"></i> 
                </a>

                <a ng-if="public.SubModulo[menu.id_modulo].length==0" href="{{menu.href_modulo}}" ng-click="ClicMenu(menu.titulo,menu.href_modulo);cambiarVista('')"> 
                  <i class="{{menu.class_icono}}"></i> <span id='{{menu.titulo}}'>{{menu.titulo}}</span>
                </a>

                <ul class="treeview-menu">
                  <li ng-repeat="submenu in public.SubModulo[menu.id_modulo]" ng-click="cambiarVista(submenu.href_submodulo);ClicMenu(menu.titulo,menu.href_modulo);ActClass(menu.titulo)">
                  <a href="{{menu.href_modulo}}"><i ng-class="{'fa fa-circle-o text-yellow':public.ngVista==submenu.href_submodulo, 'fa fa-circle-o text-aqua':public.ngVista!=submenu.href_submodulo}"></i> {{submenu.titulo_submodulo}} </a>
                  </li>
                </ul>
              </li>


              <li class="active treeview" ng-repeat="menu in obj.ngMenu.modulos | filter: buscar">

                
              </li>
          </ul>-->
        </section>
        <!-- /.sidebar -->
      </aside>