<header class="main-header" ng-controller="ngControlTopBar" ng-init="changeClass()">
        <!-- Logo <-->
        <a href="http://www.sysgid.com" target="_blank" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>G</b>iD</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Sys</b>GiD</span>

        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <span class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="changeClass()" content="" wrapper.="" contains="" page=""></span>
            <span class="sr-only"> Toggle navigation</span>
          
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu" data-toggle="tooltip" title="Mensajes"  data-Placement='bottom'>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header"><h5>Correo Interno</h5></li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a>
                          <div class="pull-left">
                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h6>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h6>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                      <li>
                        <a>
                          <div class="pull-left">
                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h6>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h6>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a>
                          <div class="pull-left">
                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h6>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h6>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a>See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu" data-toggle="tooltip" title="Notificaciones"  data-Placement='bottom'>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header"><h5>Registro de Eventos</h5></li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a>
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a>
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a>View all</a></li>
                </ul>
              </li>

              <!-- Tasks: style can be found in dropdown.less -->



              <li class="dropdown notifications-menu"  data-toggle="tooltip" title="Soporte" data-Placement='bottom'>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-life-ring"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">
                     <h5>Centro de Soporte</h5>
                  </li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa  fa-ticket"></i> Generar Ticket
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-tasks"></i> Solicitud de Reportes
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-pie-chart"></i> Estadisticas
                        </a>
                      </li><!-- end task item -->

                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-comments-o"></i> Feed-Back
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                </ul>
              </li>



              <!-- Tasks: style can be found in dropdown.less -->



              <li class="dropdown notifications-menu" data-toggle="tooltip" title="Documentación / Ayuda"  data-Placement='bottom'>
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-book"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">
                     <h5>Centro de Ayudas</h5>
                  </li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-question"></i> Preguntas Frecuentes
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-sitemap"></i> Guía de uso
                        </a>
                      </li><!-- end task item -->
                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-copyright"></i> Versión / Licencia
                        </a>
                      </li><!-- end task item -->

                      <li><!-- Task item -->
                        <a href="">
                            <i class="fa fa-legal"></i> Terminos y Condiciones
                        </a>
                      </li><!-- end task item -->
                    </ul>
                  </li>
                </ul>
              </li>



              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <img class="user-image" ng-if="usuario.sexo == 'mujer' && !usuario.img_url" src="dist/img/avatar2.png" alt="User Image">
          <img class="user-image" ng-if="usuario.sexo == 'hombre' && !usuario.img_url" src="dist/img/avatar5.png" alt="User Image">
          <img class="user-image" ng-if="usuario.img_url" ng-src="{{usuario.img_url}}" alt="User Image">
                 
                  <span class="hidden-xs">{{usuario.nombres}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
          <img class="img-circle" ng-if="usuario.sexo == 'mujer' && !usuario.img_url" src="dist/img/avatar2.png" alt="User Image">
          <img class="img-circle" ng-if="usuario.sexo == 'hombre' && !usuario.img_url" src="dist/img/avatar5.png" alt="User Image">
          <img class="img-circle" ng-if="usuario.img_url" ng-src="{{usuario.img_url}}" alt="User Image">
                    <p>
                      {{usuario.nombres}} - {{usuario.cargo}}
                      <small>Registrado el {{usuario.fecha_registro}} </small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <!-- <li class="user-body">
                    <div class="col-xs-4 text-center">
                     <a href="" class="dropdown-toggle"> 
                      <span class="label label-success"><i class="fa fa-envelope-o"></i> Mails 4</span>
                    </a> 
                    </div>
                    <div class="col-xs-4 text-center">
                     <a href="" class="dropdown-toggle"> 
                      <span class="label label-warning"><i class="fa fa-envelope-o"></i> Noticias 10</span>
                    </a> 
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="" class="dropdown-toggle"> 
                      <span class="label label-danger"><i class="fa fa-envelope-o"></i> Tareas 9</span>
                    </a> 
                    </div>
                  </li> -->
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="" ng-click="lockscreen()" class="btn btn-default btn-flat">Bloquear Pantalla</a>
                    </div>
                    <div class="pull-right">
                      <a href="" ng-click="closeSesion()" class="btn btn-default btn-flat">Cerrar Sesión</a>
                    </div> 
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button || Revisa esto con detenimiento luego OK
              <li>
                <a href="" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>-->
            </ul>
          </div>
        </nav>
      </header>